# lrzip.conf example file
# anything beginning with a # or whitespace will be ignored
# valid parameters are separated with an = and a value
# parameters and values are not case sensitive except where specified
#
# lrzip 0.24+, peter hyman, pete@peterhyman.com
# ignored by earlier versions.

# Compression Window size in 100MB. Normally selected by program. (-w)
# WINDOW = 20

# Compression Level 1-9 (7 Default). (-L)
# COMPRESSIONLEVEL = 7

# RZIP Compression Level 1-9 (Default = Compression Level) (-R)
# RZIPLEVEL = 7

# Use -U setting, Unlimited ram. Yes or No
# UNLIMITED = NO

# Compression Method, rzip, gzip, bzip2, bzip3, lzo, or lzma (default), or zpaq. (-n -g -b -B -l --lzma -z)
# May be overridden by command line compression choice.
# COMPRESSIONMETHOD = lzma

# LZMA Dictionary Size. 0-40 where
# 0 = 2^12, 1 = 2^12 * 3/2
# 2 = 2^13, 3 = 2^13 * 3/2
# ...
# 38 = 2^31, 39 = 2^31 * 3/2
# 40 = 2^32 - 1;
# DICTIONARYSIZE = 0

# Perform LZO Test. Default = YES (-T)
# LZOTEST = NO

# Set Threshold limit for LZO Test. Default 100. Set 1-99 to limit
# THRESHOLD = 99

# Hash Check on decompression, (-c)
# HASHCHECK = YES

# Show HASH value on Compression even if Verbose is off, YES (-H)
# Set Hash Method 1-MAXHASH
# Default hash is 1: MD5

# These Message Digests are used to compute and evaluate hash values.

#  0 CRC         - 32 bit CRC
#  1 MD5         - MD5 Checksum
#  2 RIPEMD      - RACE Integrity Primitives Evaluation Message Digest
#  3 SHA256      - Secure Hash Algorithm 2, 256 bit
#  4 SHA384      - Secure Hash Algorithm 2, 384 bit
#  5 SHA512      - Secure Hash Algorithm 2, 512 bit
#  6 SHA3_256    - Secure Hash Algorithm 3, 256 bit
#  7 SHA3_512    - Secure Hash Algorithm 3, 512 bit
#  8 SHAKE128_16 - Extendable Output Function (XOF) 128 bit, 16 byte output
#  9 SHAKE128_32 - Extendable Output Function (XOF) 128 bit, 32 byte output
# 10 SHAKE128_64 - Extendable Output Function (XOF) 128 bit, 64 byte output
# 11 SHAKE256_16 - Extendable Output Function (XOF) 256 bit, 16 byte output
# 12 SHAKE256_32 - Extendable Output Function (XOF) 256 bit, 32 byte output
# 13 SHAKE256_64 - Extendable Output Function (XOF) 256 bit, 64 byte output

# HASH = YES | 1..MAXHASH

# Default output directory (-O)
# OUTPUTDIRECTORY = location

# Verbosity, YES or MAX (v, vv)
# VERBOSITY = max

# Show Progress as file is parsed, YES or no (NO = -q option)
# SHOWPROGRESS = YES

# Set Niceness. 19 is default. -20 to 19 is the allowable range (-N)
# NICE = 19

# Keep broken or damaged output files, YES (-K)
# KEEPBROKEN = YES

# Delete source file after compression (-D)
# this parameter and value are case sensitive
# value must be YES to activate
# DELETEFILES = NO

# Replace existing lrzip file when compressing (-f)
# this parameter and value are case sensitive
# value must be YES to activate
# REPLACEFILE = YES

# Override for Temporary Directory. Only valid when stdin/out or Test is used
# TMPDIR = /tmp

# Whether to use encryption on compression YES, NO (-e)
# OR Encryption Method
# Method - 1,,MAXENC
# These Encryption Methods are used to secure lrzip-next files.

#  0 NONE    - No Encryption
#  1 AES 128 - 128 bit AES with 16 Byte key and 16 Byte Initialization Vector
#  2 AES 256 - 256 bit AES with 32 Byte key and 16 Byte Initialization Vector

# ENCRYPT = NO | 1..MAXENC

# Override default LOCALE
# Will control how radix and separators are presented.
# DEFAULT (Current locale), NONE (ignore locale setting), or LOCALE value
# LOCALE = DEFAULT
